<div class="container mx-auto mt-40 h-[50vh]">
    @if (step==1) {
    <!-- ! Confirm email -->
    <div class="signUp-Form my-8 ">
        <form [formGroup]="confirmEmail" class=" mx-auto rounded-lg shadow-lg p-10  max-w-xl ">
            <p class="title my-6">Confirm Email</p>
            <!-- & Email -->
            <div class="relative z-0 w-full mb-5 group">
                <input  type="email" name="floating_email" id="floating_email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-600 peer rounded-md  "
                    placeholder=" " required autocomplete="email" formControlName="email" />
                <label for="floating_email"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                    address</label>

                <!--! Error -->
                @let email=confirmEmail.get('email');
                @if(email?.errors && email?.touched){
                <div role="alert"
                    class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                    <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    @if(email?.getError('required')&& email?.touched){
                    <p class="text-xs font-semibold">
                        Email is required
                    </p>
                    }
                    @else if(email?.getError('email')&& email?.touched){
                    <p class="text-xs font-semibold">
                        invalid email
                    </p>
                    }
                </div>

                }
            </div>
            <!-- & Btn Submit -->
            <button [disabled]="confirmEmail.invalid" type="button" (click)=" sendConfirmEmail()"
                class="disabled:!bg-green-400 disabled:!cursor-progress text-white bg-green-600 block mx-auto  hover:bg-green-900   font-medium rounded-lg text-sm w-60 my-4 px-5 py-2.5 text-center">
                @if(isLoading){
                <i class="fas fa-spin fa-spinner"></i>
                }@else {
                Submit
                }
            </button>
       

            <!--& Erorr and Success msg  -->
            @if(errorMessage.length>0){
            <div role="alert"
                class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <p class="text-xs font-semibold">
                    {{errorMessage}}
                </p>
            </div>
            }
            @if(successMessage.length>0){


            <div role="alert"
                class="bg-green-100 dark:bg-green-600 border-l-4 border-green-500 dark:border-green-500 text-green-900 dark:text-green-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-green-200 dark:hover:bg-green-800 transform hover:scale-105">
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    class="h-5 w-5 flex-shrink-0 mr-2 text-green-400" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <p class="text-xs font-semibold">{{successMessage}}</p>
            </div>
            }

        </form>
    </div>
    }@else if (step==2) {
    <!-- ! confirm code -->
    <div class="signUp-Form my-8 ">
        <form [formGroup]="confirmCode" class=" mx-auto rounded-lg shadow-lg p-10  max-w-xl ">
            <p class="title my-6">Confirm Code</p>
            <!-- & code -->
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_password" id="floating_password"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-600 peer rounded-md"
                    placeholder=" " required autocomplete="new-password" formControlName="resetCode" />
                <label for="floating_password"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Code</label>
                <!--! Error -->
                @let resetControl=confirmCode.get('resetCode');
                @if(resetControl?.errors && resetControl?.touched){
                <div role="alert"
                    class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                    <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    @if(resetControl?.getError('required')&& resetControl?.touched){
                    <p class="text-xs font-semibold">
                        Code is required
                    </p>
                    }
                    @else if(resetControl?.getError('pattern')&& resetControl?.touched){
                    <p class="text-xs font-semibold">
                        Code must be 6 numbers
                    </p>
                    }
                </div>
                }
            </div>

            <!-- & Btn Submit -->
            <button [disabled]="confirmCode.invalid" type="button"  (click)=" sendConfirmCode()"
                class="disabled:!bg-green-400 disabled:!cursor-progress text-white bg-green-600 block mx-auto  hover:bg-green-900   font-medium rounded-lg text-sm w-60 my-4 px-5 py-2.5 text-center">
                @if(isLoading){
                <i class="fas fa-spin fa-spinner"></i>
                }@else {
                Submit
                }
            </button>
        

            <!--& Erorr and Success msg  -->
            <!-- @if(errorMessage.length>0){
            <div role="alert"
                class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <p class="text-xs font-semibold">
                    {{errorMessage}}
                </p>
            </div>
            }
            @if(successMessage.length>0){


            <div role="alert"
                class="bg-green-100 dark:bg-green-600 border-l-4 border-green-500 dark:border-green-500 text-green-900 dark:text-green-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-green-200 dark:hover:bg-green-800 transform hover:scale-105">
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    class="h-5 w-5 flex-shrink-0 mr-2 text-green-400" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <p class="text-xs font-semibold">{{successMessage}}</p>
            </div>
            } -->

        </form>
    </div>
    }@else if (step==3) {
    <!-- ! Reset Pass -->
    <div class="signUp-Form my-8 ">
        <form [formGroup]="resetPassword" class=" mx-auto rounded-lg shadow-lg p-10  max-w-xl ">
            <p class="title my-6">Reset Your Password</p>


            <!-- & Email -->
            <div class="relative z-0 w-full mb-5 group">
                <input readonly type="email" name="floating_email" id="floating_email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-600 peer rounded-md  "
                    placeholder=" " required autocomplete="email" formControlName="email" />
                <label for="floating_email"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                    address</label>

                <!--! Error -->
                @let emailControl=resetPassword.get('email');
                @if(emailControl?.errors && emailControl?.touched){
                <div role="alert"
                    class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                    <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    @if(emailControl?.getError('required')&&emailControl?.touched){
                    <p class="text-xs font-semibold">
                        Email is required
                    </p>
                    }
                    @else if(emailControl?.getError('email')&&emailControl?.touched){
                    <p class="text-xs font-semibold">
                        Invalid email
                    </p>
                    }

                </div>

                }
            </div>

            <!-- & Pass -->
            <div class="relative z-0 w-full mb-5 group">
                <input type="password" name="floating_password" id="floating_password"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-600 peer rounded-md"
                    placeholder=" " required autocomplete="new-password" formControlName="newPassword" />
                <label for="floating_password"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">New
                    Password</label>
                <!--! Error -->
                @let passControl=resetPassword.get('newPassword');
                @if(passControl?.errors && passControl?.touched){
                <div role="alert"
                    class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                    <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    @if(passControl?.getError('required')&& passControl?.touched ){
                    <p class="text-xs font-semibold">
                        Password is required
                    </p>
                    }
                    @else if(passControl?.getError('pattern' )&& passControl?.touched){
                    <p class="text-xs font-semibold">
                        Password must be at least 7 letters and must start with upperCase
                    </p>
                    }
                </div>
                }
            </div>



            <!-- & Btn Submit -->
            <button [disabled]="resetPassword.invalid" type="button" (click)="sendResetPassword()"
                class="disabled:!bg-green-400 disabled:!cursor-progress text-white bg-green-600 block mx-auto  hover:bg-green-900   font-medium rounded-lg text-sm w-60 my-4 px-5 py-2.5 text-center">
                @if(isLoading){
                <i class="fas fa-spin fa-spinner"></i>
                }@else {
                Submit
                }
            </button>
           

            <!--& Erorr and Success msg  -->
            <!-- @if(errorMessage.length>0){
            <div role="alert"
                class="bg-red-100 my-3 dark:bg-red-700 border-l-4 border-red-500 dark:border-red-400 text-red-900 dark:text-red-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-red-200 dark:hover:bg-red-800 transform hover:scale-105">
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    class="h-5 w-5 flex-shrink-0 mr-2 text-red-400" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <p class="text-xs font-semibold">
                    {{errorMessage}}
                </p>
            </div>
            }
            @if(successMessage.length>0){


            <div role="alert"
                class="bg-green-100 dark:bg-green-600 border-l-4 border-green-500 dark:border-green-500 text-green-900 dark:text-green-100 p-2 rounded-lg flex items-center transition duration-300 ease-in-out hover:bg-green-200 dark:hover:bg-green-800 transform hover:scale-105">
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                    class="h-5 w-5 flex-shrink-0 mr-2 text-green-400" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-width="2"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                <p class="text-xs font-semibold">{{successMessage}}</p>
            </div>
            } -->

        </form>
    </div>

    }

</div>