$main-color: #0aad0a;
$light-color: #f0f3f2;
$rating-color: #ffc908;
$shadow-lg: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px;
$shadow-sm: rgba(145, 158, 171, 0.14) 0px 4px 5px 0px;
$shadow: rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;

/* themes*/
$main-color-100: #ceefce;
$main-color-200: #9dde9d;
$main-color-300: "#6cce6c";
$main-color-400: "#3bbd3b";
$main-color-500: "#0aad0a";
$main-color-600: "#088a08";
$main-color-700: "#066806";
$main-color-800: "#044504";
$main-color-900: "#022302";


